<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-scroll-header-panel/core-scroll-header-panel.html">
<link rel="import" href="../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../bower_components/core-tooltip/core-tooltip.html">
<link rel="import" href="dynamic-papertab.html">


<polymer-element name="scroll-header" attributes="title tabs">
  <template>
    <style shim-shadowdom>

    .title {
      font-size: 40px;
      color: #4ECDC4;
    }

    core-scroll-header-panel {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    core-toolbar {
      background-color: #292F36;
      color: #f1f1f1;
      fill: #f1f1f1;
      box-shadow: 0px 5px 5px #888888;
    }
    #tabs {
      width: 100%;
      margin: 0;
      float: right;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      text-transform: uppercase;
    }
    @media (min-width: 481px) {
      #tabs {
        width: 200px;
      }
      .container {
        width: 400px;
      }
    }
    </style>

    <!-- CARD CONTENTS GO HERE -->
    <core-scroll-header-panel condenses>
      <core-toolbar class="tall">
        <div flex></div>

        <dynamic-papertab tabs="{{tabs}}"></dynamic-papertab>

  	    <core-tooltip label="Search">
  		    <core-icon-button icon="search"></core-icon-button>
  		  </core-tooltip>

    		<core-tooltip label="Drop Down">
    	      <core-icon-button icon="more-vert"></core-icon-button>
    	  </core-tooltip>

        <div class="bottom title">{{title}}</div>

        
      </core-toolbar>
    <content select="div"></content>
  </core-scroll-header-panel>
  </template>
  <script>
  Polymer('scroll-header',{});
  </script>
</polymer-element>